<body class="bg-light d-flex flex-column min-vh-100">
  <!-- Header -->
  <app-header></app-header>

  <div class="container mt-4 mb-5">

    <div class="d-flex justify-content-between mb-3">

      <!-- Botón Exportar -->
      <button class="btn btn-success btn-lift" (click)="exportToExcel()">
        📤 Exportar Audiencias
      </button>

      <!-- Botón Navegar -->
      <button class="btn btn-primary btn-lift" [routerLink]="['/show']">
        🔗 Ir a Pagina Principal
      </button>

    </div>


    <app-user-form [userToEdit]="selectedUser" (saveUser)="createUser($event)">
    </app-user-form>

    <app-user-table [users]="users" (editUser)="updateUser($event)" (deleteUser)="deleteUser($event)"
      (refresh)="getUsers()">
    </app-user-table>
  </div>

  <!-- footer -->
  <app-footer class="mt-auto"></app-footer>
</body>