.bg-blue {
  background-color: #06345f;/* Azul oscuro personalizado */
}

.logo-rama {
  height: 80px;  /* ajusta el tamaño a tu gusto */
  width: auto;
  border-radius: 30%;
  filter: brightness(100%);
  transition: box-shadow 0.3s ease;/* para una transición suave */

}

.logo-rama:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.5);
  /* sombra amarilla suave */
}