/*

src/app/
 ├── components/
 │    ├── header/
 │    │    └── header.component.ts/html/css
 │    ├── footer/
 │    │    └── footer.component.ts/html/css
 │    ├── court-buttons/
 │    │    └── court-buttons.component.ts/html/css
 │    ├── sorteo-table/
 │    │    └── sorteo-table.component.ts/html/css
 │    ├── case-form/
 │    │    └── case-form.component.ts/html/css
 │    ├── case-table/
 │    │    └── case-table.component.ts/html/css
 │    └── generic-table/
 │         └── generic-table.component.ts/html/css
 │
 ├── pages/
 │    ├── show/
 │    │    └── show.component.ts/html/css
 │    ├── edit/
 │    └── create/
 │
 ├── models/
 ├── services/
 └── app.module.ts

 */

 .btn-lift {
  transition: all 0.3s ease;
}

.btn-lift:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
}

.btn-lift:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

